@layer tailwind-base, semi, tailwind-components, tailwind-utils;
@layer tailwind-base {
  @tailwind base;
}
@layer tailwind-components {
  @tailwind components;
}
@layer tailwind-utils {
  @tailwind utilities;
}
