@tailwind base;
@tailwind components;
@tailwind utilities;

.text-vh-sm-fluid {
    font-size: 14px;
}

@media (min-height: 500px) {
    .text-vh-sm-fluid {
        font-size: calc(2.55vh + 6 * (100vh - 500px) / 1080);
    }
}

@media (min-height: 900px) {
    .text-vh-sm-fluid {
        font-size: 22px;
    }
}

.text-vh-md-fluid {
    font-size: 22px;
}

@media (min-height: 500px) {
    .text-vh-md-fluid {
        font-size: calc(3.5vh + 6 * (100vh - 500px) / 1080);
    }
}

@media (min-height: 900px) {
    .text-vh-md-fluid {
        font-size: 28px;
    }
}

blockquote::before {
    content: open-quote;
}
blockquote::after {
    content: close-quote;
}
blockquote {
    quotes: "„" "“" "‚" "'";
}

@property --border {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Medium"), local("Poppins-Medium"), url("/fonts/poppins.woff2") format("woff2");
    font-style: normal;
    font-display: fallback;
}
/* latin-ext */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src: local("Montserrat"), local("Montserrat"), url("/fonts/montserrat_ext.woff2") format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src: local("Montserrat"), local("Montserrat"), url("/fonts/montserrat.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.theme-dark {
    --color-primary: 255 50 255;
    --color-secondary: 128 238 255;
    --color-off: 227 0 213;
    --color-background: 9 12 40;
    --color-highlight: 255 255 255;
    --color-form: 166 177 187;
}

@layer utilities {
    .polygon-path {
        clip-path: polygon(var(--path));
        position: relative;
    }

    .polygon-path:before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        mask: paint(polygon-border);
    }
}

span[id] {
    content: "";
    display: block;
    height: 75px;
    margin-top: -75px;
    visibility: hidden;
    position: relative;
    z-index: -1;
}
