@tailwind base;
@tailwind components;
@tailwind utilities;

.text-vh-sm-fluid {
    font-size: 14px;
}

@media (min-height: 500px) {
    .text-vh-sm-fluid {
        font-size: calc(2.55vh + 6 * (100vh - 500px) / 1080);
    }
}

@media (min-height: 900px) {
    .text-vh-sm-fluid {
        font-size: 22px;
    }
}

.text-vh-md-fluid {
    font-size: 22px;
}

@media (min-height: 500px) {
    .text-vh-md-fluid {
        font-size: calc(3.5vh + 6 * (100vh - 500px) / 1080);
    }
}

@media (min-height: 900px) {
    .text-vh-md-fluid {
        font-size: 28px;
    }
}

blockquote::before {
    content: open-quote;
}
blockquote::after {
    content: close-quote;
}
blockquote {
    quotes: "„" "“" "‚" "'";
}

@property --border {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}

.theme-dark {
    --color-primary: 255 50 255;
    --color-secondary: 128 238 255;
    --color-off: 227 0 213;
    --color-background: 9 12 40;
    --color-highlight: 255 255 255;
    --color-form: 166 177 187;
    --color-error: 255 0 0;
}

*::selection {
    background-color: rgb(var(--color-off));
    color: white;
}

@layer utilities {
    .polygon-path {
        clip-path: polygon(var(--path));
        position: relative;
    }

    .polygon-path:before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        mask: paint(polygon-border);
    }
}

span[id] {
    content: "";
    display: block;
    height: 75px;
    margin-top: -75px;
    visibility: hidden;
    position: relative;
    z-index: -1;
}
